.todos__single {
  display: flex;
  justify-content: space-between;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url('https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg');
  transition: 0.2s;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.01);
}

.todos__single--text {
  /* flex: 1; */
  width: 63%;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .todos__single {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .todos__single {
    width: 100%;
  }
}
